allow kernel vfat:file { getattr open };
allow kernel platform_app:process setsched;
allow kernel priv_app:process setsched;
allow kernel mediaserver:process setsched;
allow kernel system_app:process setsched;
allow kernel radio:process setsched;
allow kernel system_server:process setsched;
allow kernel zygote:process setsched;
