allow mm-qcamerad mpctl_socket:sock_file write;
allow mm-qcamerad system_data_file:dir { write add_name };
allow mm-qcamerad system_data_file:sock_file write;

# Nick Kralevich <nnk@google.com> : Allow loading files with text relocations from /system
allow mm-qcamerad system_file:file execmod;
