allow untrusted_app mnt_media_rw_file:dir getattr;
allow untrusted_app rootfs:dir { read open };
allow untrusted_app tombstone_data_file:dir getattr;
